<h1>Kingdom {{kingdom.name}}</h1>

</br>
{{#each kingdoms as |kingdom|}}
	<a href="/kingdoms/{{kingdom}}">Kingdom: {{kingdom}}</a><br>	
{{/each}}

<form method="post">
<label for="kingdom">Kindgom</label>
<input type="text" id="kingdom" name="kingdom">
<button type="submit">Submit</button>
</form>
